extends layout

mixin messageBox(user,text,added)
  div(class=`msg-box cs-shadow`)
    div.msgBoxHeader
      p.user #{user}
      p.added #{added}
    p.text >> #{text}

block content
  .main
    h1= title
    p Welcome to #{title}

    each ms in messages 
        +messageBox(ms.user, ms.text, ms.added)

    a(href="/new")
      button.new-msg New Message

    .empty-div